<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0.2" package="ch.diodecompany.metroid" android:versionCode="3">
	<uses-sdk android:minSdkVersion="16" />
	<compatible-screens>
		<!-- Normal size screens -->
		<screen android:screenSize="normal" android:screenDensity="hdpi" />
		<screen android:screenSize="normal" android:screenDensity="xhdpi" />
		<screen android:screenSize="normal" android:screenDensity="280" />
		<screen android:screenSize="normal" android:screenDensity="360" />
		<screen android:screenSize="normal" android:screenDensity="420" />
		<screen android:screenSize="normal" android:screenDensity="480" />
		<screen android:screenSize="normal" android:screenDensity="560" />
	</compatible-screens>
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="Metroid" android:theme="@android:style/Theme.Holo.Light" android:icon="@mipmap/icon">
		<!-- Activity required to show ad overlays. -->
		<activity android:theme="@android:style/Theme.Translucent" android:name="com.google.android.gms.ads.AdActivity" android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
	</application>
</manifest>