<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="ch.diodecompany.metrono" android:installLocation="preferExternal" android:versionCode="27" android:versionName="3.0">
	<uses-sdk android:minSdkVersion="19" />
	<supports-screens android:smallScreens="false" android:normalScreens="true" android:largeScreens="true" android:xlargeScreens="false" />
	<application android:label="Metrono" android:theme="@android:style/Theme.Holo.Light" android:largeHeap="true" android:icon="@drawable/icon"></application>
</manifest>